[Unit]
Description=DNS Packet Logger
Requires=network.target tinc.service
After=network.target tinc.service

[Service]
Type=forking
ExecStart=/usr/local/bin/stash53 -D \
  -e {{ server }} -O logstash:stash53 -P 0
Restart=on-failure

[Install]
WantedBy=multi-user.target
