[Unit]
Description=DNS Packet Logger
After=network.target tinc.service

[Service]
Type=simple
SyslogLevel=notice

ExecStart=/usr/local/bin/stash53 \
  -e {{ server }} -O logstash:stash53 -P 0

Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
