[Unit]
Description=DNS Packet Logger
After=network.target

[Service]
Type=simple
SyslogLevel=notice

ExecStart=/usr/local/bin/stash53 \
  -e {{ redis.host }}/{{ redis.port }} -O logstash:stash53 -P 0

Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
