[Unit]
Description=XMPP Server
After=network.target

[Service]
Type=forking
SyslogLevel=notice

PIDFile=/run/prosody/prosody.pid
ExecStart=/usr/bin/prosodyctl start
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/usr/bin/prosodyctl stop

PrivateTmp=yes
PrivateDevices=yes

Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
