[Unit]
Description=Uncomplicated Firewall
After=systemd-sysctl.service
Before=sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
SyslogLevel=notice

RemainAfterExit=yes
ExecStart=/lib/ufw/ufw-init start
ExecStop=/lib/ufw/ufw-init stop

[Install]
WantedBy=multi-user.target
