[Unit]
Description=System Metrics Gatherer
After=network.target

[Service]
Type=forking
SyslogLevel=notice

ExecStart=/usr/sbin/collectd

PrivateTmp=yes
PrivateDevices=yes

Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
