[Unit]
Description=Distributed Mesh VPN
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/tincd
Restart=on-failure

[Install]
WantedBy=multi-user.target
