[Unit]
Description=Distributed Mesh VPN
After=network.target

[Service]
Type=forking
SyslogLevel=info

ExecStart=/usr/sbin/tincd
ExecStop=/usr/sbin/tincd -k

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
