[Unit]
Description=Time Series Database
After=network.target

[Service]
Type=simple
SyslogLevel=notice

PIDFile=/opt/influxdb/shared/influxdb.pid
ExecStart=/usr/bin/influxdb -pidfile /opt/influxdb/shared/influxdb.pid -config /opt/influxdb/shared/config.toml

Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
