[Unit]
Description=Trivial IdentD
After=network.target

[Service]
Type=simple
SyslogLevel=info

ExecStart=/usr/local/bin/nidd {{ user }}

PrivateTmp=yes
PrivateDevices=yes

Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
