[Unit]
Description=Trivial IdentD
After=network.target

[Service]
Type=simple
SyslogLevel=info

ExecStart=/usr/local/bin/nidd {{ user }}

Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
