[Unit]
Description=Flexible Log Shipper
Requires=network.target tinc.service
After=network.target tinc.service

[Service]
Type=simple
ExecStart=/usr/local/bin/beaver -e \
  -c /etc/beaver.conf \
  -P /var/run/beaver.pid \
  -l /var/run/beaver.log
PIDFile=/var/run/beaver.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
