[Unit]
Description=Flexible Log Shipper
After=network.target

[Service]
Type=simple
SyslogLevel=notice

PIDFile=/run/beaver.pid
ExecStart=/usr/local/bin/beaver -e \
  -c /etc/beaver.conf \
  -P /run/beaver.pid

PrivateTmp=yes
PrivateDevices=yes

Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
