[Unit]
Description=Compressed Swap Devices

[Service]
Type=simple
RemainAfterExit=yes

ExecStart=/usr/local/sbin/zramctl start
ExecStop=/usr/local/sbin/zramctl stop

PrivateTmp=yes
PrivateNetwork=yes

[Install]
WantedBy=multi-user.target
