[Unit]
Description=For Easy Rule Making
After=systemd-sysctl.service
Before=sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
SyslogLevel=notice

ExecStart=/usr/sbin/ferm /etc/ferm/ferm.conf
ExecStop=/usr/sbin/ferm -F /etc/ferm/ferm.conf
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
