[Unit]
Description=For Easy Rule Making
DefaultDependencies=no
After=systemd-sysctl.service
Before=sysinit.target network-pre.target

[Service]
Type=oneshot
SyslogLevel=notice

ExecStart=/usr/sbin/ferm /etc/ferm/ferm.conf
ExecStop=/usr/sbin/ferm -F /etc/ferm/ferm.conf
RemainAfterExit=yes

PrivateTmp=yes
PrivateDevices=yes
PrivateNetwork=yes

[Install]
RequiredBy=network-pre.target
