[Unit]
Description=uWSGI Emperor
After=network.target

[Service]
Type=notify
NotifyAccess=all
SyslogLevel=notice

ExecStart=/usr/bin/uwsgi \
  --autoload \
  --master --workers 2 --no-orphans \
  --emperor /etc/uwsgi \
  --emperor-tyrant

ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGQUIT

Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
