[Unit]
Description=uWSGI Emperor

[Service]
Type=notify
NotifyAccess=all
SyslogLevel=notice

ExecStart=/usr/bin/uwsgi \
  --master \
  --emperor /etc/uwsgi \
  --emperor-tyrant \
  --emperor-broodlord 10
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGQUIT

Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
