[Unit]
Description=uWSGI Emperor
After=network.target

[Service]
Type=simple
SyslogLevel=notice

PIDFile=/run/uwsgi.pid
ExecStart=/usr/bin/uwsgi \
  --emperor /etc/uwsgi \
  --pidfile /run/uwsgi.pid
KillSignal=SIGINT

Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
